/* =========================
   ZORO FULL PS5 SKIN
   ========================= */

.custom {
    background-image:
    url("https://aleeexrl.github.io/gamepadstest/zoro.png");

    width: 1000px;
    height: 600px;

    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

/* REMOVE DEFAULT BG */

.controller {
    background: transparent !important;
}

/* BUTTON EFFECTS */

.button.pressed {
    filter:
    brightness(1.5)
    drop-shadow(0 0 12px rgba(0,255,120,.9));
}

/* STICKS */

.stick {
    filter:
    drop-shadow(0 0 10px rgba(0,255,100,.55));
}

/* DPAD */

.dpad .pressed {
    filter:
    brightness(1.5)
    drop-shadow(0 0 14px rgba(120,255,120,.9));
}

/* TRIGGERS */

.trigger-button.pressed {
    filter:
    brightness(1.4)
    drop-shadow(0 0 15px rgba(0,255,120,.8));
}
